@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-rubik bg-slate-50 text-slate-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}

/* Leaflet Customization */
.leaflet-popup-content-wrapper {
  border-radius: 1rem;
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* Hide scrollbar classes */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
